<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] [%X{test}] %-5level %logger{36} - %msg%n" />
    </Console>
    <RollingFile name="File" fileName="reports/automation.log"
             filePattern="reports/automation-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] [%X{test}] %-5level %logger{36} - %msg%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="5 MB" />
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy max="7"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Root>
    <Logger name="com.framework" level="debug" additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Logger>
  </Loggers>
</Configuration>
